---
import { Image } from 'astro:assets'

const { service } = Astro.props
---

<!-- 
<a class="inline-block h-64 w-80" href="">
	<div class="grid h-full w-full place-content-center">
		<Image
			class="mx-auto mb-4"
			src={service.imageSrc}
			alt={service.name}
			width={64}
			height={64}
		/>
		<p
			class="max-w-40 text-pretty text-center text-lg font-semibold uppercase tracking-wide text-white"
		>
			{service.name}
		</p>
	</div>
</a> -->
<div class="relative mx-auto w-[300px]">
	<Image
		src={service.imgBg}
		alt={service.imgAlt}
		width={300}
		height={200}
		class={''}
	/>
	<div
		class="absolute left-8 top-32 flex h-20 flex-col items-start justify-end"
	>
		<p
			class="flex-1 text-pretty text-base font-medium uppercase leading-4 text-white"
		>
			{service.name}
		</p>
		<a
			href=""
			class="duration-250 inline-block h-8 w-36 rounded-full border-2 border-white text-center font-medium text-white transition ease-in-out hover:text-pretty hover:bg-white hover:font-semibold hover:text-black"
		>
			Descubre
		</a>
	</div>
</div>
