---
import { Image } from 'astro:assets'
import SistemasEmbebidos from '@/assets/ThumbClients/ThumClient.webp'
---

<section class="mx-auto max-w-7xl py-12">
	<h2
		class="mb-8 text-center text-xl font-semibold uppercase md:mb-12 md:text-3xl"
	>
		Nuestros clientes
	</h2>
	<ul
		class="mx-auto flex max-w-5xl flex-wrap items-center justify-center gap-8"
	>
		<Image src={SistemasEmbebidos} alt="Logo de" width={312} height={40} />
		<Image src={SistemasEmbebidos} alt="Logo de" width={312} height={40} />
		<Image src={SistemasEmbebidos} alt="Logo de" width={312} height={40} />
		<Image src={SistemasEmbebidos} alt="Logo de" width={312} height={40} />
		<Image src={SistemasEmbebidos} alt="Logo de" width={312} height={40} />
	</ul>
</section>
